body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

a {
  color: #0074bd;
}

.l-header {
  background: #20252e;
}

.l-header-inner-wrapper {
  color: #fff;
}

.l-header a {
  color: #fff;
  text-decoration: none;
}
.l-header a:hover {
  color: #edf8ff;
}

.l-header .site-name {
  font-size: 1.7em;
  font-weight: 200;
  margin: 0;
  text-align: center;
}
@media (min-width: 550px) {
  .l-header .site-name {
    font-size: 1.7em;
    text-align: left;
  }
}
@media (min-width: 850px) {
  .l-header .site-name {
    font-size: 2em;
  }
}

.l-header .site-name a {
  display: block;
  padding-top: 0.25em;
  text-align: center;
}

.l-header .leaf {
  font-size: 1em;
}
@media (min-width: 550px) {
  .l-header .leaf {
    font-size: 1.125em;
  }
}
@media (min-width: 850px) {
  .l-header .leaf {
    font-size: 1.375em;
  }
}

.l-header .leaf a {
  display: inline-block;
  padding: 0.6em 1em;
}

.l-header .block-system-main-menu {
  text-align: center;
}

.l-header .block-system-user-menu {
  background: #586172;
}

.l-header .block-system-user-menu .leaf {
  font-size: 0.8em;
}

/**
 * Content Teasers
 */
.content-teasers-wrapper {
  padding: 0 1em;
  list-style: none;
}
@media (min-width: 700px) {
  .content-teasers-wrapper {
    display: flex;
  }
}

.content-teaser-wrapper {
  padding: 0.5em 1em 1.5em;
}
@media (min-width: 700px) {
  .content-teaser-wrapper {
    padding: 0 1em;
  }
}
@media (min-width: 850px) {
  .content-teaser-wrapper {
    padding: 0 1.5em;
  }
}

.content-teaser-headline {
  margin: 0 0 0.7em;
}

  .content-teaser-headline a {
    text-decoration: none;
  }

  .content-teaser p {
    margin: 0;
  }

/**
 * Footer styles
 */
.l-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3em;
  background: #20252e;
  line-height: 3em;
  color: #fff;
}

.l-footer-inner-wrapper {
  display: flex;
}

  .l-footer a {
    color: #fff;
  }

  .l-footer .block-system-powered-by {
    padding: 0 0 0 40px;
  }

    .l-footer .block-system-powered-by a {
      text-decoration: none;
    }

.drop-lounging {
  position: relative;
  width: 165px;
}
  .drop-lounging:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    left: calc(50% + 20px);
    display: block;
    box-sizing: content-box;
    width: 100%;
    height: 0;
    margin: 0;
    padding: 0 0 52%;
    -webkit-transform: translate(-50%, -82%);
    transform: translate(-50%, -82%);
    background: url('../images/drop-lounging.png') no-repeat;
    background-size: 100% auto;
  }

/**
 * Fancy checkbox
 */
.fancy-checkbox {
  /* Hide checkbox for sighted users in favor of pretty checkbox */
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  width: 1px;
  height: 1px;
}

.fancy-checkbox-label {
  position: relative;
  display: inline-block;
  padding: 0 0 0 1.2em;
  cursor: pointer;
}

.fancy-checkbox-label:before,
.fancy-checkbox-label:after {
  content: '';
  position: absolute;
  display: block;
}

.fancy-checkbox-label:before {
  top: 0;
  left: 0;
  -webkit-transform:
    translate(0, 0.8em)
    translate(0, -50%);
  transform:
    translate(0, 0.8em)
    translate(0, -50%);
  width: 0.6em;
  height: 0.6em;
  border: 2px solid #0074bd;
}

.fancy-checkbox-label:after {
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  -webkit-transform:
    translate(0.42em, -0.44em)
    rotate(45deg);
  transform:
    translate(0.42em, -0.44em)
    rotate(45deg);
  -webkit-transition:
    width 0.2s,
    height 0.2s,
    transform 0.2s;
  transition:
    width 0.2s,
    height 0.2s,
    transform 0.2s;
  will-change: width, height, transform;
  backface-visibility: hidden;
}

:checked + .fancy-checkbox-label:after {
  -webkit-transform:
    translate(0.42em, -0.44em)
    rotate(45deg);
  transform:
    translate(0.42em, -0.44em)
    rotate(45deg);
  -webkit-transform-origin: top right;
  transform-origin: top right;
  width: 0.14em;
  height: 0.35em;
  border: 2px solid #000;
  border-top: 0;
  border-left: 0;
}

/**
 * Icon - External Link
 * Add following markup:
 * <span class="icon-external-link"><span class="icon-external-link-arrow"></span></span>
 */
.icon-external-link {
  position: relative;
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  border: 0.0625em solid #0074bd;
  border-radius: 0.125em;
  margin: 0 0 0 0.4em;
}

.icon-external-link-arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  -webkit-transform:
    translate(0.4375em, -0.3125em)
    rotate(45deg);
  transform:
    translate(0.4375em, -0.3125em)
    rotate(45deg);
  -webkit-transform-origin: top center;
  transform-origin: top left;
  box-sizing: content-box;
  width: 0.2em;
  height: 0.6em;
  background: #0074bd;
  border: 0.125em solid #fff;
  border-top: 0;
  border-bottom: 0;
}

.icon-external-link-arrow:before,
.icon-external-link-arrow:after {
  content: '';
  position: absolute;
}

.icon-external-link-arrow:before {
  top: 0;
  right: 0;
  display: block;
  width: 0.4em;
  height: 0.4em;
  z-index: 100;
  -webkit-transform:
    rotate(45deg)
    translate(0.28125em, -0.013671875em);
  transform:
    rotate(45deg)
    translate(0.28125em, -0.013671875em);
  -webkit-transform-origin: top right;
  transform-origin: top right;
  border: 0.0625em solid #0074bd;
  border-right: 0;
  border-bottom: 0;
}

.icon-external-link-arrow:after {
  -webkit-transform: translate(-0.12em, -0.12em);
  transform: translate(-0.12em, -0.12em);
  border: 0.1875em solid transparent;
  border-top: 0;
  border-bottom-color: #0074bd;
}

/**
 * Utility classes
 */
.disable-text-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/**
 * Breadcrumb
 */
.breadcrumb a {
  text-decoration: none;
}

.breadcrumb li {
  position: relative;
}

.breadcrumb li:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%) rotate(45deg);
  width: 1.2em;
  height: 1.2em;
  border: 1px solid #bcc2cc;
  border-width: 1px 1px 0 0;
}
