html {
  position: relative;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0 0 8em;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

a {
  color: #0074bd;
}

.l-site-width-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.l-header {
  background: #20252e;
}

  .l-header-inner-wrapper {
    display: flex;
    align-items: center;
    min-height: 6.125em;
    padding: 0 2em;
    color: #fff;
  }

  .l-header .block {
    flex-grow: 1;
  }

  .l-header a {
    color: #fff;
    text-decoration: none;
  }

    .l-header a:hover {
      color: #edf8ff;
    }

  .l-header .site-name {
    font-size: 2em;
    font-weight: 200;
    margin: 0;
  }

  .l-header .menu,
  .l-header .leaf {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .l-header .leaf {
    float: left;
    font-size: 1.375em;
  }

  .l-header .leaf a {
    padding: 0.6em 1em;
  }

  .l-header .block-system-user-menu .menu {
    float: right;
  }

  .l-header .block-system-main-menu {
    text-align: center;
  }

    .l-header .block-system-main-menu .menu {
      display: inline-block;
    }

  .l-header .block-system-user-menu .leaf {
    font-size: 0.875em;
    margin: 0 2em 0 0;
  }

    .l-header .block-system-user-menu .leaf:first-child {
      font-size: 1em;
      float: none;
    }

/**
 * Hero styles
 */
.hero {
  background: #0074bd url(../images/texture.png) no-repeat center center;
  background-blend-mode: luminosity;
}

  .hero-content {
    padding: 2em 3em 3em;
  }

  .hero-title {
    margin: 0 0 0.2em;
    padding: 0;
    font-weight: 200;
    font-size: 4em;
    line-height: 1.2;
  }

  .hero-checklist {
    margin: 0 0 1.5em;
  }

  .hero-checklist,
  .hero-check-wrapper {
    padding: 0;
    list-style: none;
  }

  .hero-check-wrapper {
    margin: 0 0 0.5em;
  }

  .hero-check-wrapper,
  .hero-call-to-action {
    font-size: 1.5em;
  }

  .hero-checkbox {
    /* Hide checkbox element in favor of pretty checkbox */
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    width: 1px;
    height: 1px;
  }

  .hero-checkbox-label {
    position: relative;
    padding: 0 0 0 1.2em;
    cursor: pointer;
  }

    .hero-checkbox-label:before,
    .hero-checkbox-label:after {
      content: '';
      position: absolute;
      display: block;
    }

    .hero-checkbox-label:before {
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      width: 0.6em;
      height: 0.6em;
      border: 2px solid #0074bd;
    }

    .hero-checkbox-label:after {
      bottom: 50%;
      left: 0;
      width: 0;
      height: 0;
      transform: translate(0.25em, 50%) translate(0, 5px) rotate(45deg);
      transition:
        width 0.2s,
        height 0.2s,
        transform 0.2s;
    }

      :checked + .hero-checkbox-label:after {
        transform: translate(0.3em, 50%) rotate(45deg);
        width: 0.14em;
        height: 0.35em;
        border: 2px solid #000;
        border-top: 0;
        border-left: 0;
      }

  .hero-call-to-action {
    display: inline-block;
    padding: 0.4em 1.2em;
    background: #0074bd;
    color: #fff;
    text-decoration: none;
  }

/**
 * Cards styles
 */
.cards-wrapper {
  background: #586172;
  padding: 0.4em 0.4em;
}

  .cards-inner-wrapper {
    display: flex;
    max-width: calc(1100px + 0.8em);
    margin: 0 auto;
    background: #0074bd url(../images/texture.png) no-repeat 10% center;
    background-blend-mode: luminosity;
  }

  .card {
    flex-grow: 1;
    border: 0.4em solid #586172;
  }

    .card:after {
      content: '';
      box-sizing: content-box;
      display: block;
      width: 100%;
      height: 0;
      padding: 60% 0 0;
    }

    .card-content {
      padding: 1em 1.3em 1.3em;
      background: #fff;
      border-bottom: 4px solid #0074bd;
    }

    .card-title {
      margin: 0;
      padding: 0;
      font-size: 1.375em;
    }

      .card-title-link {
        text-decoration: none;
      }

    .card-description {
      margin: 0;
    }

.quote-primary {
  position: relative;
  margin: 0 0 2em;
  padding: 2.5em 0 3em;
}

  .quote-primary:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    max-width: 1100px;
    border-bottom: 3px solid #b2d5eb;
  }

  .quote-primary-inner-wrapper {
    max-width: 950px;
    padding: 0 4em;
  }

  .quote-content {
    margin: 0 0 0.5em;
    font-size: 2em;
  }

  .quote-citation {
    font-size: 1.2em;
    float: right;
  }

    .quote-citation cite {
      display: block;
      font-size: 1.2em;
    }

.content-teasers-wrapper {
  display: flex;
  padding: 0 1em;
  list-style: none;
}

  .content-teaser-wrapper {
    padding: 0 1.5em;
  }

  .content-teaser-headline {
    margin: 0 0 0.7em;
  }

  .content-teaser-headline a {
    text-decoration: none;
  }

  .content-teaser p {
    margin: 0;
  }

.l-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3em;
  background: #20252e;
  line-height: 3em;
  color: #fff;
}

  .l-footer-inner-wrapper {
    display: flex;
  }

  .l-footer a {
    color: #fff;
  }

  .l-footer .block-system-powered-by {
    padding: 0 0 0 40px;
  }

    .l-footer .block-system-powered-by a {
      text-decoration: none;
    }

.drop-lounging {
  position: relative;
  width: 165px;
}

  .drop-lounging:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    left: calc(50% + 20px);
    display: block;
    box-sizing: content-box;
    width: 100%;
    height: 0;
    margin: 0;
    padding: 0 0 52%;
    transform: translate(-50%, -82%);
    background: url('../images/drop-lounging.png') no-repeat;
    background-size: 100% auto;
  }

/**
 * Getting started checklist pane
 */
.get-started-pane-outer-wrapper {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 500;
  transform: translate(0, -50%) translate(0, -10vh);
  width: 400px;
  border: 2px solid #20252e;
  background: #fff;
}

  .get-started-pane-control {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    padding: 0.6em 1.5em 0.6em 3.2em;
    font-size: 1.125em;
    transform: rotate(90deg) translate(-2px, 0);
    transform-origin: left top;
    background: #20252e;
    color: #fff;
  }

    .get-started-pane-control:before,
    .get-started-pane-control:after {
      content: '';
      position: absolute;
      display: block;
    }

    .get-started-pane-control:before {
      top: 0;
      left: 0;
      width: 2.2em;
      height: 100%;
      background: #0074bd;
    }

    .get-started-pane-control:after {
      top: 50%;
      left: 1.1em;
      width: 0.5em;
      height: 0.5em;
      border: 1px solid #fff;
      border-left: 0;
      border-bottom: 0;
      transform: translate(0, -50%) translate(0, -2px) rotate(45deg);
      transform-origin: left top;
    }

    .get-started-pane-content-wrapper {
      position: relative;
      padding: 1em;
      background: #20252e;
      color: #fff;
    }

    .get-started-pane-tutorials-link {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translate(0, 100%);
      display: block;
      padding: 0.5em 1em;
      background: #586172;
      color: #fff;
    }
