body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

.l-header {
  display: flex;
  align-items: center;
  background: #20252e;
  min-height: 6.125em;
  padding: 0 1em;
  color: #fff;
}

  .l-header .block {
    flex-grow: 1;
  }

  .l-header a {
    color: #fff;
    text-decoration: none;
  }

    .l-header a:hover {
      color: #edf8ff;
    }

  .l-header .site-name {
    font-size: 2em;
    font-weight: 200;
    margin: 0;
  }

  .l-header .menu,
  .l-header .leaf {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .l-header .leaf {
    float: left;
    font-size: 1.375em;
  }

  .l-header .leaf a {
    padding: 0.6em 1em;
  }

  .l-header .block-system-user-menu .menu {
    float: right;
  }

  .l-header .block-system-main-menu {
    text-align: center;
  }

    .l-header .block-system-main-menu .menu {
      display: inline-block;
    }

  .l-header .block-system-user-menu .leaf {
    font-size: 0.875em;
    margin: 0 2em 0 0;
  }

    .l-header .block-system-user-menu .leaf:first-child {
      font-size: 1em;
      float: none;
    }
